{% comment %} work pending {% endcomment %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>About us Page in HTML and CSS</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/about.css">
</head>
<body>
<img src="pic.jpg">
<h1>About Me</h1>
<p class="About">This a NLP process used to analyse the sentiments of the entered text. Since the VADER system is used it does not involve complex coding, rather it is simple. Its a simple way to understand the sentiments of the person thorught their text. There are other processes that are quite advanced than this one. The best being the huggingface is used to even understand the actual intention of entering or saying that sentence. This means that if you were being sarcastic, exagerating, personifying, etc.</p>
<div class="icon">
<ion-icon name="logo-facebook"></ion-icon>
<ion-icon name="logo-instagram"></ion-icon>
<ion-icon name="logo-twitter"></ion-icon>
</div>
<button class="btn">@gmail.com</button>
<button class="btn2">other projects</button>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>